.comfort{
  font-size: 0;
  background-color: $color-white;
  margin-bottom: 128px;
  &__row{
    display: grid;

    align-items: center;
    gap: 0 160px;
  }
  &__small-button{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
  }
  &__title{
    margin-bottom: 28px;
  }
  &__subtitle{
    margin-bottom: 21px;
  }
  &__button{
    margin-right: 24px;
  }
  &__img{
    width: 100%;
    grid-row: 1 / 2;
    margin-bottom: 20px;
  }
  &__button-box{
    justify-content: flex-start;
    white-space: nowrap;
  }
}